* {

    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}
.flex-home{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}
.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
 
font-size: 0.8rem;
padding: 0.5rem;
}

.center{
    text-align: center;
    border-radius: 1rem;
    background-color: aliceblue;
    box-shadow: 1px 1px rgba(0,0,0,0.3);
    padding: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.2rem;
}

.form label{
    display: flex;
    justify-content: space-between;
}
.form input, .form textarea{
    border-radius: 0.2rem;
}